@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>
    <font>
        <marquee id="marq" scrollamount="5" direction="right" loop="100" scrolldelay="0" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" style="background:red">
            <font color="white"> Đăng ký tài khoản </font>
        </marquee>
    </font>
</h2>
<h3 style="text-align:center">Vui lòng nhập thông tin đăng ký:</h3>
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Họ tên khách hàng: </td>
            <td style="width:10px"></td>
            <td>
                @if (Session["HoTen"] == null)
                {
                    <input type="text" maxlength="30" name="HoTenKH" required />
                }
                else
                {
                    <input type="text" maxlength="30" name="HoTenKH" value="@Session["HoTen"]" required />
                }
            </td>
            <td style="width:10px"></td>
            <td style="color: red; font-weight:bold">  *  </td>
        </tr>
        <tr>
            <td></td>
            <td style="width:10px"></td>
            <td style="color:red">@ViewData["Loi1"]</td>
        </tr>
        <tr style="height:40px">
            <td> Tên đăng nhập: </td>
            <td style="width:10px"></td>
            <td>
                @if (Session["TenTK"] == null)
                {
                    <input type="text" maxlength="30" name="TenTK" required />
                }
                else
                {
                    <input type="text" maxlength="30" name="TenTK" value="@Session["TenTK"]" required />

                }
            </td>
            <td style="width:10px"></td>
            <td style="color: red; font-weight:bold">  *  </td>
        </tr>
        <tr>
            <td></td>
            <td style="width:10px"></td>
            <td style="color:red">@ViewData["Loi2"]</td>
        </tr>
        <tr style="height:40px">
            <td> Mật khẩu: </td>
            <td style="width:10px"></td>
            <td>
                <input type="password" maxlength="30" name="MatKhau" required />
            </td>
            <td style="width:10px"></td>
            <td style="color: red; font-weight:bold">  *  </td>
        </tr>
        <tr>
            <td></td>
            <td style="width:10px"></td>
            <td style="color:red">@ViewData["Loi3"]</td>
        </tr>
        <tr style="height:40px">
            <td> Nhập lại mật khẩu: </td>
            <td style="width:10px"></td>
            <td>
                <input type="password" maxlength="30" name="MatKhauNhapLai" required />
            </td>
            <td style="width:10px"></td>
            <td style="color: red; font-weight:bold">  *  </td>
        </tr>
        <tr>
            <td></td>
            <td style="width:10px"></td>
            <td style="color:red">@ViewData["Loi4"]</td>
        </tr>
        <tr style="height:40px">
            <td> Điện thoại: </td>
            <td style="width:10px"></td>
            <td>
                @if (Session["DienThoai"] == null)
                {
                    <input type="number" max="999999999999999" min="1000000" name="DienThoai" required />
                }
                else
                {
                    <input type="number" max="999999999999999" min="1000000" name="DienThoai" value="@Session["DienThoai"]" required />

                }
            </td>
            <td style="width:10px"></td>
            <td style="color: red; font-weight:bold">  *  </td>
        </tr>
        <tr>
            <td></td>
            <td style="width:10px"></td>
            <td style="color:red">@ViewData["Loi5"]</td>
        </tr>
        <tr style="height:40px">
            <td> E-mail: </td>
            <td style="width:10px"></td>
            <td>
                @if (Session["Email"] == null)
                {
                    <input type="email" maxlength="30" name="Email" required />
                }
                else
                {
                    <input type="email" maxlength="30" name="Email" value="@Session["Email"]" required />

                }
            </td>
            <td style="width:10px"></td>
            <td style="color: red; font-weight:bold">  *  </td>
        </tr>
        <tr>
            <td></td>
            <td style="width:10px"></td>
            <td style="color:red">@ViewData["Loi6"]</td>
        </tr>
        <tr style="height:40px">
            <td> Địa chỉ: </td>
            <td style="width:10px"></td>
            <td>
                @if (Session["DiaChi"] == null)
                {
                    <input type="text" maxlength="100" name="DiaChi" />
                }
                else
                {
                    <input type="text" maxlength="100" name="DiaChi" value="@Session["DiaChi"]" />

                }
            </td>
        </tr>
        <tr style="height:40px">
            <td> Ngày sinh: </td>
            <td style="width:10px"></td>
            <td>
                <input type="date" name="NgaySinh" required />
            </td>
            <td style="width:10px"></td>
            <td style="color: red; font-weight:bold">  *  </td>
        </tr>
        <tr style="height:40px">
            <td> Giới tính: </td>
            <td style="width:10px"></td>
            <td>
                <input type="radio" name="GioiTinh" value="Nam" checked="checked" /> Nam
                <input type="radio" name="GioiTinh" value="Nữ" /> Nữ
                <input type="radio" name="GioiTinh" value="Khác" /> Khác
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td style="width:10px"></td>
            <td>
                <input type="submit" value="Đăng ký" />
            </td>
        </tr>
    }
</table>
