@using DoAnMonHoc.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DIENTHOAI>
@{
    ViewBag.Title = "Điện thoại theo loại";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>
    <font>
        <marquee id="marq" scrollamount="5" direction="right" loop="100" scrolldelay="0" behavior="alternate" onmouseover="this.stop()" onmouseout="this.start()" style="background:red">
            <font color="white"> Chào mừng quý khách </font>
        </marquee>
    </font>
</h2>
<div class="row">
    @foreach (var dt in Model)
    {
        <div class="item-pro-home">
            <a href="@Url.Action("DETAILS","Index", new { id = dt.MA_DT})">
                <div class="item-img-pro-home">
                    <div class="demo-3">
                        <figure>
                            <img style="display:block;
                                 position:relative;
                                 z-index:10;
                                 backface-visibility:hidden;
                                 -webkit-transition:all .5s;
                                 -moz-transition:all .5s;
                                 transition:all .5s;
                                 width:240px; height:240px"
                                 src="~/Hinhsp/@dt.HINHANH_DT" alt="@dt.TEN_DT" />
                            <figcaption>
                                <p>
                                    <img style="-webkit-transform:rotateY(180deg);
                                        -moz-transform:rotateY(0);
                                        transform:rotateY(0);
                                        width:240px; height:240px"
                                         src="~/Hinhsp/@dt.HINHANH_DT2" alt="@dt.TEN_DT" />
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <br />
                <div>
                    <h4><font color="black"><strong>@dt.TEN_DT</strong></font></h4>
                </div>
            </a>
            <div>
                <p>
                    <h5> <font color="red"> Giá: @String.Format("{0:0,0}", @dt.GIABAN_DT) </font> <font color="black">vnđ</font></h5>
                </p>
            </div>
            <div class="ratings">
                <font color="yellow">
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </font>
            </div>
            <a href="@Url.Action("ThemGioHang","GioHang",new { @_MA_DT = dt.MA_DT, @strURL = Request.Url.ToString() })" class="btn btn-success" role="button">Đặt mua</a>
            <a href="@Url.Action("DETAILS","Index", new { id = dt.MA_DT})" class="btn btn-primary" role="button">Thông tin chi tiết</a>
        </div>
    }
</div>
@if (Model.Count > 9)
{
    <div class="MenuTrang" style="text-align:right">
        Html.PagedListPager(Model, page => Url.Action("DT_THEO_LOAI", new { page = page }))
    </div>
}
<style>
    .MenuTrang li {
        display: inline;
    }
</style>





