@using DoAnMonHoc.Models
@model List<GioHangPK>

@foreach (var item in Model)
{
    <tr style="text-align:center; font-weight:bold">
        <td>@item._MA_PK</td>
        <td>@item._TEN_PK</td>
        <td><img src="~/Hinhsp/@item._HINHANH_PK" style="height:100px;width:100px" /></td>
        <td>@item._SL_PK</td>
        <td>@String.Format("{0:0,0}", item._DONGIA_PK)</td>
        <td>@String.Format("{0:0,0}", item.ThanhTien)</td>
    </tr>
}