@model DoAnMonHoc.Models.HOADON

@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin hóa đơn</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MA_HD)

        <div class="form-group">
            @Html.LabelFor(model => model.MA_HD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.MA_HD</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYLAP_HD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@String.Format("{0:dd/MM/yyyy}", Model.NGAYLAP_HD)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYGIAO_HD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@String.Format("{0:dd/MM/yyyy}", Model.NGAYGIAO_HD)</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TONGTIEN_HD, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@String.Format("{0:0,0}", Model.TONGTIEN_HD) vnđ</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KHACHHANG.HOTEN_KH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.KHACHHANG.HOTEN_KH</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_NGUOINHAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.TEN_NGUOINHAN</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DIACHI_NGUOINHAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.DIACHI_NGUOINHAN</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SODT_NGUOINHAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.SODT_NGUOINHAN</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.THANHTOAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.THANHTOAN == true)
                {
                    <div>
                        <input type="radio" name="ThanhToan" value="true" checked="checked" /> Đã thanh toán
                        <input type="radio" name="ThanhToan" value="false" /> Chưa thanh toán
                    </div>
                }
                else
                {
                    <div>
                        <input type="radio" name="ThanhToan" value="true" /> Đã thanh toán
                        <input type="radio" name="ThanhToan" value="false" checked="checked" /> Chưa thanh toán
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIAOHANG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.GIAOHANG == true)
                {
                    <div>
                        <input type="radio" name="GiaoHang" value="true" checked="checked" /> Đã giao hàng
                        <input type="radio" name="GiaoHang" value="false" /> Chưa giao hàng
                    </div>
                }
                else
                {
                    <div>
                        <input type="radio" name="GiaoHang" value="true" /> Đã giao hàng
                        <input type="radio" name="GiaoHang" value="false" checked="checked" /> Chưa giao hàng
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại danh sách hóa đơn", "DS_HoaDon")
            </div>
        </div>
    </div>
}