@model IEnumerable<DoAnMonHoc.Models.Admin>

@{
    ViewBag.Title = "DS Nhân Viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Quản lý thông tin nhân viên</h2>

<p>
    @Html.ActionLink("Thêm mới", "Themmoinv")
</p>
<table class="table" border="1">
    <tr>
        <th class="col-md-1" style="text-align:center">Tên tài khoản</th>
        <th class="col-md-1" style="text-align:center">Mật khẩu</th>
        <th class="col-md-2" style="text-align:center">Họ tên nhân viên</th>
        <th class="col-md-3" style="text-align:center">Địa chỉ nhân viên</th>
        <th class="col-md-1" style="text-align:center">Số điện thoại nhân viên</th>
        <th class="col-md-1" style="text-align:center">Chức vụ</th>
        <th class="col-md-1" style="text-align:center"></th>
        <th class="col-md-1" style="text-align:center"></th>
        <th class="col-md-1" style="text-align:center"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ten_TK_Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau_Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hoten_Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi_Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sodt_Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanQuyen.TEN_PQ)
            </td>
            <td>
                @Html.ActionLink("Chi tiết", "Chitietnv", new { tentk = item.Ten_TK_Admin })
            </td>
            <td>
                @Html.ActionLink("Sửa", "Suanv", new { tentk = item.Ten_TK_Admin })
            </td>
            <td>
                @Html.ActionLink("Xóa", "Xoanv", new { tentk = item.Ten_TK_Admin })
            </td>
        </tr>
    }

</table>
