@using DoAnMonHoc.Models
@using PagedList.Mvc;
@model PagedList.PagedList<HOADON>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Model.Count != 0)
{
    <h2>Danh sách hóa đơn cần giao</h2>

    <div class="col-md-12">
        <hr />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <a href="@Url.Action("Chitiethd","Admin", new { id = item.MA_HD})">
                        <div style="border:solid; margin-top:10px; text-align:center">
                            <h3 style="font-weight:bold; color:black">Mã hóa đơn: @item.MA_HD</h3>
                            <p style="font-weight:bold">Khách đặt:</p>
                            <p style="color:black">@item.KHACHHANG.HOTEN_KH</p>
                            <p style="font-weight:bold">Người nhận:</p>
                            <p style="color:black">@item.TEN_NGUOINHAN</p>
                            <p style="font-weight:bold">Số điện thoại đặt:</p>
                            <p style="color:black">@item.KHACHHANG.SODT_KH</p>
                            <p style="font-weight:bold">Số điện thoại nhận:</p>
                            <p style="color:black">@item.SODT_NGUOINHAN</p>
                            <p style="font-weight:bold">Ngày hẹn giao:</p>
                            <p style="color:red">@String.Format("{0:dd/MM/yyyy}", item.NGAYGIAO_HD)</p>
                            <p style="font-weight:bold;color:red">Chưa giao</p>
                            <p style="font-weight:bold;color:red">@String.Format("{0:0,0}", item.TONGTIEN_HD) vnđ</p>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="MenuTrang" style="text-align:right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
}

