@model DoAnMonHoc.Models.DIENTHOAI

@{
    ViewBag.Title = "Sửa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chỉnh sửa thông tin điện thoại</h2>

@using (Html.BeginForm("Suadt", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin chi tiết</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MA_DT)

        <div class="form-group">
            @Html.LabelFor(model => model.MA_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.MA_DT</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_DT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTA_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOTA_DT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOTA_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTA_CT_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="MOTA_CT_DT">@Model.MOTA_CT_DT</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIABAN_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="GIABAN_DT" min="1000" value="@Model.GIABAN_DT" /> vnđ
                @Html.ValidationMessageFor(model => model.GIABAN_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HINHANH_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh1" />
                <p style="color:red">@ViewBag.HinhAnh1</p>
                <div>(Ảnh hiện tại)</div>
                <img src="@Url.Content("~/Hinhsp/" + Model.HINHANH_DT)" style="width:120px;height:120px" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HINHANH_DT2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh2" />
                <p style="color:red">@ViewBag.HinhAnh2</p>
                <div>(Ảnh hiện tại)</div>
                <img src="@Url.Content("~/Hinhsp/" + Model.HINHANH_DT2)" style="width:120px;height:120px" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SOLUONGTON, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="SOLUONGTON" min="0" value="@Model.SOLUONGTON" />
                @Html.ValidationMessageFor(model => model.SOLUONGTON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYNHAP_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NGAYNHAP_DT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NGAYNHAP_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LINK_TTTT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LINK_TTTT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOTA_DT, "", new { @class = "text-danger" })
                <div style="color:red">Dán link thanh toán trực tuyến vào đây!</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MA_LDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ma_LDT")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu lại" class="btn btn-default" /> |

                @Html.ActionLink("Về trang quản lý điện thoại", "DS_DienThoai")

            </div>
        </div>
    </div>
}
