@model DoAnMonHoc.Models.PHUKIEN

@{
    ViewBag.Title = "Sửa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa thông tin phụ kiện</h2>

@using (Html.BeginForm("Suapk", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin chi tiết</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MA_PK)

        <div class="form-group">
            @Html.LabelFor(model => model.MA_PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="font:18px; padding: 5px 0 0 5px">@Model.MA_PK</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_PK, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_PK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTA_PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="MOTA_PK">@Model.MOTA_PK</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIABAN_PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="GIABAN_PK" min="1000" value="@Model.GIABAN_PK" /> vnđ
                @Html.ValidationMessageFor(model => model.GIABAN_PK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HINHANH_PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh" />
                <p style="color:red">@ViewBag.HinhAnh</p>
                <div>(Ảnh hiện tại)</div>
                <img src="@Url.Content("~/Hinhsp/" + Model.HINHANH_PK)" style="width:120px;height:120px" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SOLUONG_PK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="SOLUONG_PK" min="0" value="@Model.SOLUONG_PK" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MA_LPK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MA_LPK");
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu lại" class="btn btn-default" /> |
                @Html.ActionLink("Về trang quản lý phụ kiện", "DS_PhuKien")
            </div>
        </div>
    </div>
}