@model DoAnMonHoc.Models.DIENTHOAI

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới điện thoại</h2>

@using (Html.BeginForm("Themmoidt", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Nhập đầy đủ thông tin sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TEN_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TEN_DT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TEN_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTA_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MOTA_DT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOTA_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MOTA_CT_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="MOTA_CT_DT">mô tả chi tiết sản phẩm</textarea>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GIABAN_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="GIABAN_DT" min="1000" /> vnđ
                @Html.ValidationMessageFor(model => model.GIABAN_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HINHANH_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh1" />
                <p style="color:red">@ViewBag.HinhAnh1</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HINHANH_DT2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="HinhAnh2" />
                <p style="color:red">@ViewBag.HinhAnh2</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SOLUONGTON, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="SOLUONGTON" min="0" />
                @Html.ValidationMessageFor(model => model.SOLUONGTON, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NGAYNHAP_DT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" name="NGAYNHAP_DT" />
                @Html.ValidationMessageFor(model => model.NGAYNHAP_DT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LINK_TTTT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LINK_TTTT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MOTA_DT, "", new { @class = "text-danger" })
                <div style="color:red">Dán link thanh toán trực tuyến vào đây!</div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MA_LDT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Ma_LDT")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đồng ý thêm" class="btn btn-default" /> |

                @Html.ActionLink("Về trang quản lý điện thoại", "DS_DienThoai")

            </div>
        </div>
    </div>
}
