@model DoAnMonHoc.Models.NHACUNGCAP
@{
    ViewBag.Title = "Xóa nhà cung cấp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác nhận thông tin nhà cung cấp</h2>

<h3>Bạn có thực sự muốn xóa nhà cung cấp này?</h3>
<div class="col-md-8">
    <hr />
    <table class="table" border="1">
        <tr>
            <td class="col-md-5">
                Tên nhà cung cấp:
            </td>

            <td class="col-md-7">
                @Html.DisplayFor(model => model.TEN_NCC)
            </td>
        </tr>
        <tr>
            <td class="col-md-5">
                Địa chỉ nhà cung cấp:
            </td>

            <td class="col-md-7">
                @Html.DisplayFor(model => model.DIACHI_NCC)
            </td>
        </tr>
        <tr>
            <td class="col-md-5">
                Số điện thoại nhà cung cấp:
            </td>

            <td class="col-md-7">
                @Html.DisplayFor(model => model.SODT_NCC)
            </td>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Đồng ý xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "DS_NhaCungCap")
        </div>
    }
</div>

